/* General */
body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #f0f8ff;
    color: #173e9f;
  }
  
  h1, h2 {
    text-align: center;
    font-weight: 600;
    margin-top: 20px;
  }
  
  section {
    padding: 40px 20px;
  }
  
  /* Header */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #173e9f;
    color: white;
    flex-wrap: wrap;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    height: 50px;
    margin-right: 10px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  /* Hero */
  .hero {
    background: url('img/bg-salud.jpg') no-repeat center center/cover;
    color: white;
    text-align: center;
  }
  
  #btn-escucha {
    background-color: #339bdf;
    color: white;
    padding: 12px 20px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    margin-top: 20px;
    cursor: pointer;
  }
  
  /* Funciones */
  .funciones .cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .card {
    background-color: #4a9ada;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 180px;
    text-align: center;
    font-weight: 600;
  }
  
  /* Misión */
  .mision p {
    max-width: 700px;
    margin: auto;
    text-align: center;
  }
  
  /* Equipo */
  .miembros {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .miembro {
    background-color: #6a84ae;
    color: white;
    padding: 15px;
    border-radius: 8px;
    width: 150px;
    text-align: center;
  }
  
  /* Contacto */
  .contacto form,
  .login form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 400px;
    margin: auto;
  }
  
  .contacto input,
  .login input,
  textarea {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  .contacto button,
  .login button {
    background-color: #3e578e;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .social {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
  }
  
  .social button {
    background-color: #339bdf;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
  }
  